  // padding
  .p-10 {
    padding: 10px;
  }
  
  .p-20 {
    padding: 20px;
  }
  .pl-5 {
    padding-left: 5px;
  }
  .pl-10 {
    padding-left: 10px;
  }
  .px-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .p-30 {
    padding: 30px;
  }

  // margin
  
  .m-10 {
    margin: 10px;
  }
  
  .mb-5 {
    margin-bottom: 5px;
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }

  .mr-20 {
    margin-right: 20px;
  }

  .ml-10 {
    margin-left: 10px;
  }

  .ml-20 {
    margin-left: 20px;
  }

  .mx-10 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .mx-20 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .m-20 {
    margin: 20px;
  }
  
  .m-30 {
    margin: 30px;
  }
  // flexbox
  .d-flex{
    display:flex
  }
  .justify-center{
  justify-content: center;
  }

  .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }