@use "./mixins";

:root {
  --primary-1: #42b883;
  --primary-2: #347474;
  --secondary-1: #35495e;
  --secondary-2: #430f58;
  --danger-1: #060404;
  --danger-2: #c0392b;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --gray-1: #f6f6f6;
  --gray-2: #ddd;
  --gray-3: #34495e;
  --dark-1: #2a3019;
  --primary-color: #ffffff;
  --border: 1px solid var(--gray-2);
  --border-radius: 4px;
  --font-family: "Poppins", "Roboto", sans-serif;
  --sidebar-item-active: #15263f;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--gray-1);
}

// padding
.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-30 {
  padding: 30px;
}

// margin

.m-10 {
  margin: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100vh;
}
// flexbox
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary {
  color: var(--primary-2);
}

.danger {
  color: var(--danger-2);
}

.default-color {
  color: var(--gray-3);
}

.font-600 {
  font-weight: 600;
}

.color-white {
  color: var(--primary-color);
}

//buttons

.btn {
  padding: 8px 15px;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: var(--primary-1);
  color: #fff;
  &:hover {
    transform: scale(1.05) rotate(-1deg);
    cursor: pointer;
  }
}

input:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.btn-danger {
  background-color: var(--danger-1);
  color: var(--text-primary-color);

  &:hover {
    background-color: var(--danger-2);
  }
}

.btn-success {
  background-color: var(--success-1);
  color: var(--text-primary-color);

  &:hover {
    background-color: var(--success-2);
  }
}

.btn-disabled {
  color: #000;
  cursor: not-allowed;
  background: none;

  &:hover {
    color: #000;
    background-color: var(--danger-1);
    border: 2px solid #000;
  }
}

.hide-xs {
  @include mixins.xs {
    display: none;
  }
}
